h1{color : red;
    background-color : blue}
 *{border : solid}
.H1,h1{background-color: aqua}

.Header{display :flex ;
background-color: pink;
justify-content: space-evenly;
flex-direction: row;
align-items: left;
}